$theme-colors: (
  "primary": #00FF00
);

@import '~bootstrap/scss/bootstrap';

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.app {
  height: 100%;
  background: none;
}

input {
  padding: 3px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid grey;
  border-radius: 3px;
  outline: none;
}

input:focus {
  border: 1px solid black;
}

.input-group {
  padding: 5px 0px;
  height: 3.5em;
}

.invalid-input {
  color: red;
  display: block;
  text-align: left;
}

#root {
  height: 100%;
}

.login-nav {
  padding-right: 100px;
}

.page-header {
  color: white;
  background-color: rgba($color: #343a40, $alpha: 0.7);
  padding: 60px 0px;
}

.page-header-row {
  height: 10%;
  align-items: center;
}