$theme-colors: (
  "primary": #00FF00
);

@import '~bootstrap/scss/bootstrap';

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

body {
  background-image: url('../../assets/login-background.jpg');
  background-size: 100%;
  background-attachment: fixed;
}

input {
  padding: 3px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid grey;
  border-radius: 3px;
  outline: none;
}

input:focus {
  border: 1px solid black;
}

.input-group {
  padding: 5px 0px;
  height: 3.5em;
}

.invalid-input {
  color: red;
  display: block;
  text-align: left;
}

#root {
  height: 100%;
}

.login-nav {
  padding-right: 100px;
}

.page-header {
  color: white;
  //background-color: rgba($color: #343a40, $alpha: 0.7);
  padding: 40px 0px;
  padding-left: 10px;
  position: fixed;
}

.page-header-row {
  height: 10%;
  align-items: center;
}

.home-content {
  padding: none;
  background-color: rgba($color: white, $alpha: 0.7);
  min-height: 100%;
}

.home-body {
  padding-top: 45px;
}

.app {
  min-height: 100%;
}

.container-fluid {
  height: auto;
}

.side-bar {
  position: fixed;
}

.forum-post {
  background-color: white;
  min-height: 120px;
  width: 100%;
  border-radius: 30px;
}

.post-user {
  top: 0px;
  padding-right: 25px;
  display: inline-block;
  height: 100%;
  max-height: 120px;
  max-width: 150px;
  border-radius: 30px;
}

.post-message {
  top: 0%;
  vertical-align: top;
  display: inline-block;
  height: 100%;

  small {
    display: block;
    color: grey;
    padding-bottom: 5px;
  }
}

.post-row {
  padding: 20px 0;
  min-width: 50%;
  .post-row {
    margin-left: 30px;
    .post-row {
      margin-left: 60px;
      .post-row {
        margin-left: 90%;
      }
    }
  }
  &:last-child {
    padding-bottom: 0;
  }
}

.post-footer {
  padding-top: 9px;
  padding-left: 15px;
  // align-items: center;

  .liked {
    color: red;
  }

  .not-liked {
    color: grey;
  }
}

.reply-btn {
  cursor: pointer;
}

.modal-details {
  color: grey;
  font-size: 0.7em;
}

.pull-left {
  align-self: flex-start;
}

textarea {
  width: 100%;
  resize: none !important;
  overflow: auto;
}

.post-btn-col {
  height: 100%;
}

.post-btn-row {
  padding-left: 15px;
  height: 100%;
  align-items: center;
}

.post-btn {
  margin: 0px 5px !important;
}

